<!-- Begin Comments
================================================== -->
<div class="container">
    <div id="comments" class="row justify-content-center mb-5">
        <div class="col-md-8">              
          <script src="https://utteranc.es/client.js"
                  repo="{{.Site.Params.utterancesRepo}}"
                  issue-term="{{.Site.Params.utterancesIssueTerm | default "pathname"}}"
                  theme="{{.Site.Params.utterancesTheme | default "github-dark"}}"
                  crossorigin="anonymous"
                  async>
          </script>
        </div>
    </div>
</div>
<!--End Comments
================================================== -->
